* {
  box-sizing: border-box;
}

body, h1, h2, p{
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.header {
  height: 100vh;
  background-color: #eee;
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/frontend-developer/free-course/moved_cover.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.header-title {
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: auto;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
}

.content {
  font-size: 0;
  width: 790px;
  align-content: center;
  margin: 100px auto 50px auto;
}

.card {
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px 45px;
  display: inline-block;
  margin-right: 90px;
  box-shadow: 0 4px 4px 5px;
}
.no-right-margin {
  margin-right: 0;
}
.card-image {
  width: 100%;
  margin-bottom: 25px;
}
.card-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-text {
  font-size: 17px;
}

.footer {
  height: 300px;
  background-color: black;
  display: flex;
}
.footer-author {
  color: white;
  font-size: 24px;
  margin: auto;
}






